html {
  text-align: center;
}
body {
  background-color: rgba(214, 183, 142, 0.504);
  border-radius: 15px;
  border: solid;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
  padding-bottom: 50px;
  width: auto;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
  color: rgb(39, 82, 50);
}
ul {
  text-align: left;
  width: 425px;
  margin: auto;
}
img {
  border-radius: 35px;
}
a:hover {
  font-weight: bold;
}
